.page {
    background-color: #1e272e;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    & .containerPage {
        padding: 130px 160px;

        height: 100vh;

        & .logoLigetch {
            position: absolute;
            left: 50%;
            top: 60px;
            transform: translate(-50%, -50%);
            max-width: 155px;
            width: 100%;
        }
        .infoPage {
           
        }

        & .page_config {
            // display: flex;
            // align-items: center;
            position: relative;
            height: calc(100vh - 260px - 54px);
            display: grid;
            grid-template-columns: 1fr 384px;
            gap: 24px;

            .boxConfig {
                position: relative;
                width: 100%;
                height: 100%;

                & .wrapHeader {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }

                & .Player {
                    height: 100%;
                }

                & .wrapInfo {
                    position: absolute;
                    left: 0;
                    bottom: 76px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        & .boxControlConfig {
            width: 434px;
            height: calc(100vh - 204px - 116px);
        }
    }
}
