.closeBtn {
    display: flex;
    align-items: center;
    cursor: pointer;

    & .name {
        margin-right: 8px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3; 
        color: #FFFFFF;

    }

    & .icon {
        display: flex;
        align-items: center;
    }
}