.main {
    background: #1e272e;
}

.container {
    padding: 120px 160px;
}

.bg {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 60%;

    & svg {
        width: 100%;
    }
}

.description_config {
    display: flex;
    margin: 40px auto;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(90deg, #3c40c6 -9%, #f53b57 30.51%, #ffd32a 71.94%, #05c46b 107.5%);
        filter: blur(140px);
        z-index: 0;
    }
}

.description_config_item {
    display: flex;
    color: #fff;
    align-items: center;
    z-index: 1;

    & .name {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        font-family: "Gilroy";
        line-height: 1;

        & span {
            font-family: "Gilroy";
            font-weight: 800;
            font-size: 80px;
            white-space: nowrap;
        }
    }
}

.description_keyboard {
    margin-right: 40px;

    & img {
        max-width: 1120px;
        width: 100%;
        min-width: 300px;
    }

    & .name {
        transform: translate(20%, 0) rotate(-90deg);
    }
}

.description_mouse {
    & img {
        max-width: 162px;
        width: 100%;
        min-width: 100px;
    }

    & .name {
        transform: translate(-20%, 0) rotate(-90deg);
    }
}

.sectionConfig {
    margin-top: 130px;

    .title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        color: #fff;
        line-height: 1;
    }

    .description {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #fff;
        max-width: 680px;
        text-align: center;
        line-height: 1.3;

        margin: 24px auto 64px;
    }
}

.main__scrol {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 16px 0;
}

.listConfig {
    display: flex;
    justify-content: center;

    .mouse_config {

        flex-direction: row-reverse;
        flex: 1 1 auto;
        height: 100%;

        & .description {
            padding-right: 74px;
        }

        & .boxImg {
            width: 34%;

            & img {
                width: 100%;
            }
        }
    }

    .keyboard_config {
        flex: 5 2 auto;
        padding-right: 0;

        & .description {
            padding-left: 74px;
        }

        & .boxImg {
            width: 56%;

            & img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .container {
        padding: 150px 80px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding: 110px 60px;
    }

    .listConfig {
        flex-direction: column;

        .mouse_config {
            margin: 0;
            padding: 30px;

            & img {
                height: 380px;
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .listConfig {
        flex-direction: column;

        .mouse_config {
            margin: 0;
            padding: 30px;

            flex-direction: column-reverse;

            & img {
                height: 280px;
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .container {
        padding: 110px 30px;
    }
}

.wrapCart {
    position: relative;


    .cart_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: linear-gradient(90deg, #3C40C6 -9%, #F53B57 30.51%, #FFD32A 71.94%, #05C46B 107.5%);
        background-size: 400% 400%;
        border-radius: 16px;
        animation: gradient 8s ease infinite;
        -webkit-animation: gradient 8s ease infinite;
        -moz-animation: gradient 8s ease infinite;
        z-index: -1;
        transform: translate(-1px, -1px);
        transition: filter 1s ease-in;
        z-index: 0;
        opacity: 0;
        transition: .3s;
    }

    &:hover {
        .cart_bg {
            opacity: 1;

        }

    }
}

.mouse {
    margin-left: 17px;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.modalWrap {
    position: absolute;
    left: 0;
    top: 0;
    background: #1E272E;
    height: 100vh;
    width: 100vw;
    // overflow: hidden;
    z-index: 100;
}