.logoLigetch {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, -50%);
    max-width: 155px;
    width: 100%;
    z-index: 4;
}

.infoPage {
    z-index: 4;
    position: absolute;
}